<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="ch4/styles.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet" />
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <header>
      <div class="back-arrow">&#x3c;</div>
      <div class="logo">LOGO</div>
      <div class="title">Rock Paper Scissors</div>
    </header>
    <div class="container">
      <div class="game">
        <div class="player">
          <h1>PLAYER 1</h1>
          <div class="list-options">
            <div class="playerOption" tabindex="1">✌</div>
            <div class="playerOption" tabindex="1">🖐</div>
            <div class="playerOption" tabindex="1">✊</div>
          </div>
        </div>
        <div id="middle">
          <div class="versus">VS</div>
          <div></div>
          <div class="restart-button">
            <img src="ch4/assets/image/refresh.png" alt="refresh-img" />
          </div>
        </div>
        <div class="computer">
          <h1>COMPUTER</h1>
          <div class="list-options">
            <div class="computerOption" tabindex="1">🖐</div>
            <div class="computerOption" tabindex="1">✌</div>
            <div class="computerOption" tabindex="1">✊</div>
          </div>
        </div>
      </div>
      <script src="ch4/script.js" type="text/javascript"></script>
    </div>
  </body>
</html>
