<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="ch3/ch3.css">
    <link rel="stylesheet" href="bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css">
    <script src="bootstrap-5.2.0-beta1-dist/js/bootstrap.min.js"></script>


    <title>Challenge3 Ilham</title>
  </head>
  <body>
    <!--page1----------->
    <section class="page1">
      <nav class="navbar navbar-light">
        <div class="navteks1">LOGO</div>
        <div class="navteks2">HOME</div>
        <div class="navteks3">WORK</div>
        <div class="navteks4">CONTACT</div>
        <div class="navteks5">ABOUT ME</div>
        <div class="navteks6">SIGN UP</div>
        <div class="navteks7">
          <a class="click" href="/login">LOGIN</a>
        </div>
      </nav>
      <div class="teks1">PLAY TRADITIONAL GAME</div>
      <div class="teks2">Experience new traditional game play</div>
      <button class="button1">PLAY NOW</button>
      <div class="teks3">THE STORY</div>
      <img  class="scrolldown1" src="ch3/assets/scroll-down.svg" alt="scroll-down">
    </section>
    <!--endpage1-------->

    <!--page2----------->
    <section class="page2">
      <div class="teks1-page2">What's so special?</div>
      <div class="teks2-page2">THE GAMES</div>
      <div class="guntingbatu"></div>
      <div class="switchleft1"><img src="ch3/assets/switch-left.svg" alt="panahkiri"></div>
      <div class="switchright1"><img src="ch3/assets/switch-right.svg" alt="panahkanan"></div>
      <div class="bulet">
        <div class="bulet1"><img src="ch3/assets/ellipse.svg" alt="buletfull"></div>
        <div><img src="ch3/assets/ellipse-outline.svg" alt="buletoutline"></div>
        <div><img src="ch3/assets/ellipse-outline.svg" alt="buletoutline"></div>
        <div><img src="ch3/assets/ellipse-outline.svg" alt="buletoutline"></div>
        <div><img src="ch3/assets/ellipse-outline.svg" alt="buletoutline"></div>
      </div>
    </section>
    <!--endpage--------->

    <!--page3----------->
    <section class="page3">
      <div class="bg1pg3">
        <div class="teks1-page3">What's so special?</div>
        <div class="teks2-page3">FEATURES</div>
        <div class="teks3-page3">TRADITIONAL GAMES</div>
        <div class="teks4-page3">
          If you miss your childhood, we provide many traditional games here
        </div>
        <div class="teks5-page3">GAME SUIT</div>
        <div class="teks6-page3">TBD</div>

        <div class="bulet1pg3"><img src="ch3/assets/ellipse.svg" alt="buletfull"></div>
        <div class="bulet2pg3"><img src="ch3/assets/ellipse-outline.svg" alt="buletoutline"></div>
        <div class="bulet3pg3"><img src="ch3/assets/ellipse-outline.svg" alt="buletoutline"></div>
        <div class="verticalline1"></div>
      </div>
    </section>
    <!--endpage3-------->

    <!--page4----------->
    <section class="page4">
    <div class="bg2-page4">
      <div class="bg3pg4">
        <div class="teks1-page4">Can My Computer Run this game?</div>
        <div class="teks2-page4">SYSTEM REQUIREMENTS</div>
        <div class="table1">

          <div class="teks3-page4">OS:
            <div class="teks4-page4">
              Window 7 64-bit only (No OSX support at this time)
            </div>
          </div>

          <div class="teks3-page4">PROCESSOR:
            <div class="teks4-page4">
              INtel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
            </div>
          </div>

          <div class="teks3-page4">MEMORY:
            <div class="teks4-page4">
              4 GB RAM
            </div>
          </div>

          <div class="teks3-page4">STORAGE:
            <div class="teks4-page4">
              8 GB available space
            </div>
          </div>

          <div class="teks3-page4" id="graphic">GRAPHICS:
            <div class="teks4-page4">
              NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model5)
            </div>
          </div>

        </div>
      </div>
    </div>
    </section>
    <!--endpage4-------->

    <!--page5----------->
    <section class="page5">
      <div class="teks1-page5">TOP SCORES
        <div class="teks2-page5">
          This top score from various games provided on this platform
        </div>
      </div>
      <button class="button1pg5">see more</button>

      <div class="teks4-page5">
        <div class="teks3-page5">
          <div class="bg1">
            <img class="gmb1" src="ch3/assets/evan-lahti.jpg" alt="">
          </div>
          <div class="name">Evan Lahti
            <div class="job">PC Gamer</div>
          </div>
          <div class="bg2">
            <img src="ch3/assets/twitter.svg" alt="">
          </div>
        </div>
        <div class="teksbox">
          "One of my gaming higlights of the year"
        </div>
        <div class="date">
          June 18, 2021
        </div>
      </div>

      <div class="teks6-page5">
        <div class="teks5-page5">
          <div class="bg1">
            <img class="gmb2" src="ch3/assets/jada-griffin.jpg" alt="">
          </div>
          <div class="name">Jada Griffin
            <div class="job">Nerdreactor</div>
          </div>
          <div class="bg2">
            <img src="ch3/assets/twitter.svg" alt="">
          </div>
        </div>
        <div class="teksbox">
          "The next big thing in the world of streaming and survival games"
        </div>
        <div class="date">
          July 10, 2021
        </div>
      </div>

      <div class="teks8-page5">
        <div class="teks7-page5">
          <div class="bg1">
            <img class="gmb3" src="ch3/assets/aaron-williams.jpg" alt="">
          </div>
          <div class="name">Aaron Williams
            <div class="job">Uproxx</div>
          </div>
          <div class="bg2">
            <img src="ch3/assets/twitter.svg" alt="">
          </div>
        </div>
        <div class="teksbox">
          "Snoop Dogg Playing The wildly Entertaining 'SOS' Is Ridiculous"
        </div>
        <div class="date">
          December 24, 2018
        </div>
      </div>
    </section>
    <!--endpage5-------->

    <!--page6----------->
    <section class="page6">
      <img class="bgskull" src="ch3/assets/skull.png">
        <div class="rgskull"></div>
      </div>

      <div class="teks1-page6">
        <div class="teks2-page6">
          Want to stay in touch?
        </div>
        <div class="teks3-page6">
          NEWSLETTER SUBSCRIBE
        </div>
        <div class="teks4-page6">
          In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam. 
        </div>
      </div>

      <div class="teks5-page6">
        <div class="teks6-page6">
          <div class="emailaddress">
            Your email address
          </div>
          <div class="emailbinar">
            youremail@binar.co.id
          </div>
        </div>
      </div>

      <button class="subsnow">Subsribe now</button>

      <div class="teks7-page6">
        <div>MAIN</div>
        <div>ABOUT</div>
        <div>GAMER FEATURES</div>
        <div>SYSTEM REQUIREMENTS</div>
        <div >QUOTES</div>
        <img class="logo" src="ch3/assets/facebook.svg" alt="facebook">
        <img class="logo" src="ch3/assets/twitter.svg" alt="twitter">
        <img class="logo" src="ch3/assets/vector.svg" alt="yotube">
        <img class="logo" src="ch3/assets/twitch.svg" alt="twitch">
      </div>
      <div class="teks8-page6"></div>
      <div class="teks9-page6">&copy; 
        2018 Your Games, Inc. All Rights Reserved
      </div>
      <div class="teks10-page6">
        PRIVACY POLICY | TERMS OF SERVICE | CODE OF CONDUCT
      </div>      
    </section>
    <!--endpage6-------->

    </section> 
  </body>
</html>
